<div
    class="card-detaile mb-3"
    style="background-image: url({{product.image}});"
></div>
<div class="d-flex gap-3 fw-bold text-muted fs-5">
    <p>{{product.price}}$.00</p>
    <p>{{formData product.createdAt}}</p>
</div>
<div>
    <p>{{product.description}}</p>
</div>